@model IEnumerable<BlogSitesiV._1.Data.Model.Makale>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.kategori.kategoriAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.makaleBaslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.makaleOzet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.makaleIcerik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.makaleResim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.makaleOkunma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.makaleYorumSayisi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.kategori.kategoriAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.makaleBaslik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.makaleOzet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.makaleIcerik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.makaleResim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.makaleOkunma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.makaleYorumSayisi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.makaleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.makaleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.makaleID })
        </td>
    </tr>
}

</table>
