@model BlogSitesiV._1.Data.Model.Kategori

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kategori</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.kategoriAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kategoriAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kategoriAdet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kategoriAdet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kategoriResim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kategoriResim)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.kategoriID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
