@model IEnumerable<BlogSitesiV._1.Data.Model.Kategori>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.kategoriAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kategoriAdet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kategoriResim)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.kategoriAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kategoriAdet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kategoriResim)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.kategoriID }) |
            @Html.ActionLink("Details", "Details", new { id=item.kategoriID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.kategoriID })
        </td>
    </tr>
}

</table>
