@model BlogSitesiV._1.Data.Model.Yonetici

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Yonetici</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.yoneticiAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yoneticiAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yoneticiSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yoneticiSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yoneticiKullanici)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yoneticiKullanici)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yoneticiSifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yoneticiSifre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.yoneticiID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
